#logo {
  width: 156px;
  height: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
}

header {
  background-color: black;
}

.navbar--container {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  align-items: center;
  font-weight: 600;
}

li {
  list-style: none;
  padding: 0 30px;
  color: #000000;
  color: white;
}

.center--items {
  margin-left: 93px;
  margin-right: 93px;
}
